<div class="page-header">
  <h1>Sign up for Resumis</h1>
</div>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, class: 'form-control' %>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, class: 'form-control' %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :password %>
        <% if @validatable %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
      </div>
    </div>
  </div>

  <% if multi_tenancy? %>
  <hr />
  <h5>Domain Settings</h5>

  <div class="form-group">
    <%= f.label :subdomain %>
    <%= f.text_field :subdomain, class: 'form-control' %>
    <p class="help-block">
      Your site will be accessible at <code>[subdomain].<%= canonical_host %></code>
    </p>
  </div>

  <div class="form-group">
    <%= f.label :domain %> <small><em>Optional</em></small>
    <%= f.text_field :domain, class: 'form-control' %>
    <p class="help-block">
      To get this to work, assign the domain's CNAME record to <code><%= canonical_host %></code>
    </p>
  </div>
  <% end %>

  <%= f.submit "Sign up", class: 'btn btn-primary btn-lg' %>
  <%= render "devise/shared/links" %>
<% end %>
