<% page_title t('.title') %>

<table class="w-full table-auto border border-gray-200">
  <thead>
    <tr>
      <th class="px-4 py-2"><%= t('.name') %></th>
      <th class="px-4 py-2"><%= t('.callback_url') %></th>
      <th class="px-4 py-2"><%= t('.confidential') %></th>
      <th class="px-4 py-2">Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @applications.each do |application| %>
    <tr id="application_<%= application.id %>">
      <td class="px-4 py-2"><%= link_to application.name, oauth_application_path(application) %></td>
      <td class="px-4 py-2"><%= application.redirect_uri %></td>
      <td class="px-4 py-2"><%= application.confidential? ? t('doorkeeper.applications.index.confidentiality.yes') : t('doorkeeper.applications.index.confidentiality.no') %></td>
      <td class="px-4 py-2">
        <%= link_to edit_oauth_application_path(application), class: 'btn btn-link' do %>
          <%= t('doorkeeper.applications.buttons.edit') %>
        <% end %>
        <%= render 'delete_form', application: application %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<% content_for :actionbar_right do %>
  <%= link_to "Authorized Applications", oauth_authorized_applications_path, class: 'btn btn-link' %>
  <%= link_to t('.new'), new_oauth_application_path, class: 'btn btn-success' %>
<% end %>
