<% page_title t('.title') %>

<table class="listing-table">
  <thead>
    <tr>
      <th><%= t('.name') %></th>
      <th><%= t('.callback_url') %></th>
      <th><%= t('.confidential') %></th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <%- @applications.each do |application| -%>
    <tr id="application_<%= application.id %>">
      <td><%= link_to application.name, oauth_application_path(application), class: 'underline' %></td>
      <td class="font-mono"><%= application.redirect_uri %></td>
      <td>
        <%- if application.confidential? -%>
          <span class="label label-danger">
            <%= icon 'fas', 'lock h-4 w-4 inline-block mr-1', 'Requires secret' %>
          </span>
        <%- else -%>
          <span class="label label-success">
            <%= icon 'fas', 'globe-americas h-4 w-4 inline-block mr-1', 'Public' %>
          </span>
        <%- end -%>
      </td>
      <td>
        <%= link_to edit_oauth_application_path(application), class: 'btn btn-link -ml-4' do -%>
          <%= t('doorkeeper.applications.buttons.edit') -%>
        <%- end -%>
        <%= render 'delete_form', application: application -%>
      </td>
    </tr>
  <%- end -%>
  </tbody>
</table>

<% content_for :actionbar_right do %>
  <%= link_to "Authorized Applications", oauth_authorized_applications_path, class: 'btn btn-link' %>
  <%= link_to t('.new'), new_oauth_application_path, class: 'btn btn-success' %>
<% end %>
