<% page_title "Dashboard" %>

<div class="flex text-3xl justify-between">
  <div class="flex-1 justify-center text-center">
    <%= link_to new_manage_project_path, class: 'p-4 m-2 bg-blue-300 hover:bg-blue-400 text-blue-900 rounded shadow-lg block' do %>
      <%= icon 'fas', 'gem h-12 w-12 inline-block mr-4', '' %><br />
      Start a Project
    <% end %>
  </div>
  <div class="flex-1 justify-center text-center">
    <%= link_to new_manage_post_path, class: 'p-4 m-2 bg-green-300 hover:bg-green-400 text-green-900 rounded shadow-lg block' do %>
      <%= icon 'fas', 'paragraph h-12 w-12 inline-block mr-4', '' %><br />
      Write a Blog Post
    <% end %>
  </div>
  <div class="flex-1 justify-center text-center">
    <%= link_to manage_skills_path, class: 'p-4 m-2 bg-red-300 hover:bg-red-400 text-red-900 rounded shadow-lg block' do %>
      <%= icon 'fas', 'wrench h-12 w-12 inline-block mr-4', '' %><br />
      Add a New Skill
    <% end %>
  </div>
</div>

<div class="border border-gray-100 m-2"></div>

<% if current_user.ga_view_id %>
<div class="flex">
  <div class="w-full">
    <div class="panel panel-default">
      <div class="panel-body">
        <section id="auth-button"></section>
        <section id="timeline"></section>
      </div>
    </div>
  </div>
</div>

<script>
(function(w,d,s,g,js,fjs){
  g=w.gapi||(w.gapi={});g.analytics={q:[],ready:function(cb){this.q.push(cb)}};
  js=d.createElement(s);fjs=d.getElementsByTagName(s)[0];
  js.src='https://apis.google.com/js/platform.js';
  fjs.parentNode.insertBefore(js,fjs);js.onload=function(){g.load('analytics')};
}(window,document,'script'));
</script>

<script>
gapi.analytics.ready(function() {
  gapi.analytics.auth.authorize({
    container: 'auth-button',
    clientid: '<%= ResumisConfig.google_client_id %>',
    userInfoLabel: 'Google Analytics Account: '
  });

  var timeline = new gapi.analytics.googleCharts.DataChart({
    reportType: 'ga',
    query: {
      'ids': 'ga:' + '<%= current_user.ga_view_id %>',
      'dimensions': 'ga:date',
      'metrics': 'ga:sessions',
      'start-date': '30daysAgo',
      'end-date': 'yesterday',
    },
    chart: {
      type: 'LINE',
      container: 'timeline',
      options: {
        backgroundColor: {
          fill: 'transparent'
        },
        hAxis: {
          gridlines: {
            color: '#222'
          },
          textStyle: {
            color: '#efefef'
          }
        },
        legend: {
          textStyle: {
            color: '#efefef'
          }
        },
        vAxis: {
          gridlines: {
            color: '#222'
          },
          textStyle: {
            color: '#efefef'
          }
        },
        width: '100%'
      }
    }
  });

  gapi.analytics.auth.on('success', function(response) {
    timeline.execute();
  });
});
</script>
<% end %>
