<%= page_title "Dashboard" %>

<div class="row">
  <div class="col-sm-4">
    <%= link_to new_manage_project_path, class: 'btn btn-lg btn-primary btn-block' do %>
      <%= icon 'diamond', '', class: 'fa-4x' %><br />
      Add a New Project
    <% end %>
  </div>
  <div class="col-sm-4">
    <%= link_to new_manage_post_path, class: 'btn btn-lg btn-success btn-block' do %>
      <%= icon 'paragraph', '', class: 'fa-4x' %><br />
      Add a New Blog Post
    <% end %>
  </div>
  <div class="col-sm-4">
    <%= link_to manage_skills_path, class: 'btn btn-lg btn-danger btn-block' do %>
      <%= icon 'wrench', '', class: 'fa-4x' %><br />
      Add a New Skill
    <% end %>
  </div>
</div>

<hr />

<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <section id="auth-button"></section>
        <section id="timeline"></section>
      </div>
    </div>
  </div>
</div>

<script>
(function(w,d,s,g,js,fjs){
  g=w.gapi||(w.gapi={});g.analytics={q:[],ready:function(cb){this.q.push(cb)}};
  js=d.createElement(s);fjs=d.getElementsByTagName(s)[0];
  js.src='https://apis.google.com/js/platform.js';
  fjs.parentNode.insertBefore(js,fjs);js.onload=function(){g.load('analytics')};
}(window,document,'script'));
</script>

<script>
gapi.analytics.ready(function() {
  gapi.analytics.auth.authorize({
    container: 'auth-button',
    clientid: '<%= google_client_id %>',
    userInfoLabel: 'Google Analytics Account: '
  });

  var timeline = new gapi.analytics.googleCharts.DataChart({
    reportType: 'ga',
    query: {
      'ids': 'ga:' + '<%= current_user.ga_view_id %>',
      'dimensions': 'ga:date',
      'metrics': 'ga:sessions',
      'start-date': '30daysAgo',
      'end-date': 'yesterday',
    },
    chart: {
      type: 'LINE',
      container: 'timeline',
      options: {
        backgroundColor: {
          fill: 'transparent'
        },
        hAxis: {
          gridlines: {
            color: '#222'
          },
          textStyle: {
            color: '#efefef'
          }
        },
        legend: {
          textStyle: {
            color: '#efefef'
          }
        },
        vAxis: {
          gridlines: {
            color: '#222'
          },
          textStyle: {
            color: '#efefef'
          }
        },
        width: '100%'
      }
    }
  });

  gapi.analytics.auth.on('success', function(response) {
    timeline.execute();
  });
});
</script>
