<div class="page-header">
  <%= page_title @skill.name %>
</div>

<div class="fieldset">
  <dl>
      <dt class="label label-default">Category</dt>
      <dd><pre class="prettyprint"><%= @skill.skill_category.name if @skill.skill_category %></pre></dd>
  </dl>
</div>

<div class="form-group">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              skills_path, :class => 'btn btn-default'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_skill_category_skill_path(@skill_category, @skill), :class => 'btn btn-default' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              skill_category_skill_path(@skill_category, @skill),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>