<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>">
        <% if current_tenant %>
          <%= current_tenant.first_name %> <strong><%= current_tenant.last_name %></strong>
        <% else %>
          Resumis
        <% end %>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "About", root_path %></li>
        <li><%= link_to "Projects", projects_path %></li>
        <% if exists_published_resume? %>
        <li><%= link_to "Resume", resume_path(latest_resume) %></li>
        <% end %>
        <% if user_signed_in? and current_tenant == current_user %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            <%= image_tag current_user.avatar_url, height: 18, class: "inline-block img-rounded" %><span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "Manage Site", manage_dashboard_path %></li>
            <li><%= link_to "Settings", edit_user_registration_url(host: canonical_host) %></li>
            <li><%= link_to "Logout", destroy_user_session_url(host: canonical_host), :method => 'DELETE' %></li>
          </ul>
        </li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>
