<div class="jumbotron jumbotron-about visible-sm visible-md visible-lg <%= 'video' if user.using_video_header? and !user.header_video_processing? and controller_name == 'profile' %>"
    <% if user.using_image_header? or user.header_video_processing? or controller_name != 'profile' %>
     style="background-image: url(<%= user.header_image_url %>);"
    <%- end -%>
    >
    <% if user.using_video_header? and !user.header_video_processing? and controller_name == 'profile' %>
    <div class="video-container">
        <video autoplay loop>
            <source src="<%= user.header_video.webm.url %>" type="video/webm" />
            <source src="<%= user.header_video.mp4.url %>" type="video/mp4" />
        </video>
    </div>
    <% end %>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-7">
                <h1>
                    <%= user.first_name %>
                    <strong class="highlight"><%= user.last_name %></strong>
                </h1>
                <% if user.tagline.present? %>
                <h2>
                    <%= user.tagline %>
                </h2>
                <% end %>
            </div>
            <div class="col-md-4 col-sm-5">
                <div class="panel panel-default panel-latest-project hidden">
                    <header class="panel-heading">
                        <span class="panel-title">Latest Project</span>
                    </header>
                    <div id="latest-project" class="panel-body">
                        <p class="project-title"><a href=""></a></p>
                        <hr />
                        <p class="project-shortdesc"></p>
                        <ul class="project-tags list-inline"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
