<%= form_for @work_experience, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="form-group">
    <%= f.label :organization, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :organization, :class => 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :position, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :position, :class => 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :description, :class => 'text_area form-control', :rows => '8' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :start_date, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.date_select :start_date, {}, :class => 'form-control', :style => 'max-width: 100px; display:inline-block;' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :end_date, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.date_select :end_date, { :include_blank => true }, { :class => 'form-control', :style => 'max-width: 100px; display:inline-block;' } %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  work_experiences_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
