<section id="workexp_<%= work_experience.id %>"
         class="panel panel-default panel-work-experience
                <% if work_experience.end_date %>
                  current-work-experience
                <% else %>
                  past-work-experience
                <% end %>"
  >
  <div class="panel-heading">
    <h4 class="panel-title clearfix">
      <span class="pull-left">
        <%= work_experience.position %><br />
        <small><%= work_experience.organization %></small>
      </span>
      <span class="pull-right date-range">
        <%= work_experience.date_range %>
      </span>
    </h4>
  </div>
  <% if work_experience.description.length > 0 %>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12">
        <p><%= markdown(work_experience.description) %></p>
      </div>
    </div>
  </div>
  <% end %>
</section>
