<% page_title "Blog Post Categories" %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Post Count</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @post_categories.each do |post_category| %>
      <tr>
        <td>
          <%= link_to post_category.name, edit_manage_post_category_path(post_category) %>
        </td>
        <td><%= post_category.posts.count %></td>
        <td>
          <%= link_to edit_manage_post_category_path(post_category), class: 'btn btn-xs' do %>
            <%= icon 'fas', 'pencil-alt', '' %>
          <% end %>
          <%= link_to manage_post_category_path(post_category), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs' do %>
            <%= icon 'fas', 'times', '' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% content_for :actionbar_left do %>
  <%= paginate @post_categories %>
<% end %>

<% content_for :actionbar_right do %>
  <%= link_to new_manage_post_category_path, class: 'btn btn-primary' do %>
    <%= icon 'fas', 'plus', 'New Post Category' %>
  <% end %>
<% end %>
