<% page_title "Blog Post Categories" %>

<table class="w-full table-auto border border-gray-200">
  <thead>
    <tr>
      <th class="px-4 py-2">Name</th>
      <th class="px-4 py-2">Post Count</th>
      <th class="px-4 py-2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @post_categories.each do |post_category| %>
      <tr>
        <td class="px-4 py-2">
          <%= link_to post_category.name, edit_manage_post_category_path(post_category) %>
        </td>
        <td class="px-4 py-2"><%= post_category.posts.count %></td>
        <td class="px-4 py-2">
          <%= link_to edit_manage_post_category_path(post_category), class: 'btn btn-xs' do %>
            <%= icon 'fas', 'pencil-alt h-4 w-4 inline-block mr-4', '' %>
          <% end %>
          <%= link_to manage_post_category_path(post_category), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs' do %>
            <%= icon 'fas', 'times h-4 w-4 inline-block mr-4', '' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% content_for :actionbar_left do %>
  <%= paginate @post_categories %>
<% end %>

<% content_for :actionbar_right do %>
  <%= link_to new_manage_post_category_path, class: 'btn btn-primary' do %>
    <%= icon 'fas', 'plus h-5 w-5 inline-block mr-4', 'New Post Category' %>
  <% end %>
<% end %>
