<section id="project_<%= project.id %>"
         class="panel panel-default panel-project <%= project.css_classes %>">
  <div class="panel-heading">
    <h4 class="panel-title">
      <%= project.name %>
      <% if project.project_status and
            not (params[:controller] == 'resumes' and params[:action] == 'show') %>
        <span class="label label-default label-<%= project.project_status.slug %>">
          <%= project.project_status.name %>
        </span>
      <% end %>
      <p class="pull-right">
        <%= project.date_range %>
        <% if user_signed_in? and
              project.user.id == current_user.id and
              not (params[:controller] == 'resumes' and params[:action] == 'show')
        %>
          <%= link_to edit_project_path(project), :class => 'btn btn-xs', :title => "#{ t('.edit', :default => t('helpers.links.edit')) }" do %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to project_path(project), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        <% end %>
      </p>
    </h4>
  </div>
  <div class="list-group">
  <% if project.description.length > 0 %>
    <div class="list-group-item">
      <p><%= markdown(project.description) %></p>
    </div>
  <% end %>
  <% if project.vimeo_url.present? %>
    <div class="list-group-item">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="//player.vimeo.com/video/<%=u project.vimeo_url %>" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  <% end %>
  <% if project.youtube_url.present? %>
    <div class="list-group-item">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="//www.youtube.com/embed/<%=u project.youtube_url %>" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  <% end %>
  <% if project.soundcloud_url.present? %>
    <div class="list-group-item">
      <iframe width="100%" height="166" frameborder="0"w src="//w.soundcloud.com/player/?url=<%=u "https://soundcloud.com/#{project.soundcloud_url}" %>"></iframe>
    </div>
  <% end %>
  </div>
  <% if project.github_url.present? %>
  <footer class="panel-footer">
    <%= icon('github', '') %>
    <%= link_to "#{project.name} on GitHub", "https://github.com/#{project.github_url}" %>
  </footer>
  <% end %>
  <% if project.bandcamp_url.present? %>
  <footer class="panel-footer">
    <%= icon('music', '') %>
    <%= link_to "#{project.name} on Bandcamp", project.bandcamp_url %>
  </footer>
  <% end %>
  <% if project.penflip_url.present? %>
  <footer class="panel-footer">
    <%= icon('pencil', '') %>
    <%= link_to "#{project.name} on Penflip", project.penflip_url %>
  </footer>
  <% end %>
</section>
