<% content_for(:jumbotron) do %>
<div class="jumbotron">
  <div class="container">
    <h1>Boom! <strong>Resumis.</strong></h1>
    <h2>Advertise Yourself</h2>
  </div>
</div>
<% end %>

<div class="row">
  <div class="col-md-4">
    <h4>List of Sites</h4>
    <ul>
    <% @users.each do |user| %>
      <li><%= link_to (user.full_name ? user.full_name : user.subdomain), "#{request.protocol}#{u tenant_instance_hostname(user)}/" %> - <%= tenant_instance_hostname(user) %></li>
    <% end %>
    </ul>
  </div>
  <div class="col-md-4">
    <% if user_signed_in? %>
      <%= link_to "Go to My Site", "#{request.protocol}#{u tenant_instance_hostname(current_user)}/", class: "btn btn-lg btn-block btn-success" %>
      <%= link_to "Logout", destroy_user_session_url(host: canonical_host), :method => :delete, class: "btn btn-lg btn-block btn-primary" %>
    <% else %>
      <%= link_to new_user_session_path, class: "btn btn-lg btn-block btn-success" do %>
        Login to Resumis
      <% end %>
      <% if Devise.mappings[:user].registerable? %>
        <%= link_to new_user_registration_path, class: "btn btn-lg btn-block btn-primary" do %>
          Sign Up
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-4">
    <div class="alert alert-warning">
      <strong>Wasn't expecting to see this?</strong>
      <p>
        Resumis is operating in <strong>multi-tenancy mode</strong>, seperating different user's sites by subdomain, or if they prefer, domain name.
      </p>
      <p>
        As such, there is no site to be accessed here on the bare domain. If you prefer that the bare domain goes to a specific user's site, conduct such a redirect within your web server configuration.
      </p>
    </div>
  </div>
</div>
