<% content_for(:jumbotron) do %>
<div class="jumbotron">
  <div class="container text-center">
    <h1>Boom! <strong>Resumis.</strong></h1>
    <h2>Advertise Yourself</h2>
  </div>
</div>
<% end %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="list-group">
    <% @users.each do |user| %>
      <%= link_to "#{request.protocol}#{u tenant_instance_hostname(user)}/", class: 'list-group-item', target: '_blank' do %>
        <div class="media">
          <div class="media-left">
            <%= image_tag user.avatar_url, class: 'media-object', height: '64', alt: user.full_name %>
          </div>
          <div class="media-body">
            <h4 class="media-heading">
              <%= user.full_name ? user.full_name : user.subdomain %> - <%= tenant_instance_hostname(user) %>
            </h4>
            <p class="lead"><%= user.tagline %></p>
          </div>
        </div>
      <% end %>
    <% end %>
    </div>
  </div>
</div>
