<%= form_for [:manage, @resume] do |f| %>
  <div class="form-group">
    <%= f.label :name, :class => 'control-label' %>
    <%= f.text_field :name, :class => 'text_field form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => 'control-label' %>
    <%= f.text_field :description, :class => 'text_field form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :background, :class => 'control-label' %>
    <%= f.text_area :background, :class => 'text_area form-control', :rows => '12', :"data-provide" => "markdown" %>
  </div>
  <div class="form-group">
    <%= f.label :published, :class => 'control-label' %>
    <div class="checkbox">
      <label>
        <%= f.check_box :published %>
      </label>
    </div>
  </div>

  <h4>Education Experiences</h4>

  <div class="panel panel-default">
    <table class="table">
      <thead>
        <tr>
          <th>Select</th>
          <th>School Name</th>
          <th>Diploma</th>
          <th>Start Date</th>
          <th>End Date</th>
        </tr>
      </thead>
      <tbody>
        <%= f.collection_check_boxes(:education_experience_ids,  EducationExperience.order("end_date ASC"), :id, :school_name,
          { :selected => @resume.education_experience_ids }, { :multiple => true } ) do |b| %>
          <tr>
            <td>
              <%= b.check_box %>
            </td>
            <td>
              <%= b.text %>
            </td>
            <td>
              <%= b.object.diploma %>
            </td>
            <td>
              <%= b.object.start_date %>
            </td>
            <td>
              <% if b.object.end_date %>
                <%= b.object.end_date %>
              <% else %>
                present
              <% end %>
            </td>
          </tr>
        <% end %>
    </table>
  </div>

  <h4>Work Experiences</h4>

  <div class="panel panel-default">
    <table class="table">
      <thead>
        <tr>
          <th>Select</th>
          <th>Organization</th>
          <th>Position</th>
          <th>Start Date</th>
          <th>End Date</th>
        </tr>
      </thead>
      <tbody>
        <%= f.collection_check_boxes(:work_experience_ids,  WorkExperience.order("end_date ASC"), :id, :organization,
          { :selected => @resume.work_experience_ids }, { :multiple => true } ) do |b| %>
          <tr>
            <td>
              <%= b.check_box %>
            </td>
            <td>
              <%= b.text %>
            </td>
            <td>
              <%= b.object.position %>
            </td>
            <td>
              <%= b.object.start_date %>
            </td>
            <td>
              <% if b.object.end_date %>
                <%= b.object.end_date %>
              <% else %>
                present
              <% end %>
            </td>
          </tr>
        <% end %>
    </table>
  </div>

  <h4>Relevant Projects</h4>

  <div class="panel panel-default">
    <table class="table">
      <thead>
        <tr>
          <th>Select</th>
          <th>Name</th>
          <th>Status</th>
          <th>Start Date</th>
          <th>End Date</th>
        </tr>
      </thead>
      <tbody>
        <%= f.collection_check_boxes(:project_ids,  Project.order("end_date ASC"), :id, :name,
          { :selected => @resume.project_ids }, { :multiple => true } ) do |b| %>
          <tr>
            <td>
              <%= b.check_box %>
            </td>
            <td>
              <%= b.text %>
            </td>
            <td>
              <%= b.object.project_status.name if b.object.project_status %>
            </td>
            <td>
              <%= b.object.start_date %>
            </td>
            <td>
              <% if b.object.end_date %>
                <%= b.object.end_date %>
              <% else %>
                present
              <% end %>
            </td>
          </tr>
        <% end %>
    </table>
  </div>

  <h4>Relevant Skills</h4>

  <div class="panel panel-default">
    <table class="table">
      <thead>
        <tr>
          <th>Select</th>
          <th>Name</th>
          <th>Category</th>
        </tr>
      </thead>
      <tbody>
        <%= f.collection_check_boxes(:skill_ids,  Skill.order("name ASC"), :id, :name,
          { :selected => @resume.skill_ids }, { :multiple => true } ) do |b| %>
          <tr>
            <td>
              <%= b.check_box %>
            </td>
            <td>
              <%= b.text %>
            </td>
            <td>
              <%= b.object.skill_category.name %>
            </td>
          </tr>
        <% end %>
    </table>
  </div>

  <div class="form-group">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                manage_resumes_path, :class => 'btn btn-default' %>
  </div>
<% end %>
