<%= form_for [:manage, @resume] do |f| %>
  <div class="form-group">
    <%= f.label :name, :class => 'control-label' %>
    <%= f.text_field :name, :class => 'text_field form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => 'control-label' %>
    <%= f.text_field :description, :class => 'text_field form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :background, :class => 'control-label' %>
    <%= f.text_area :background, :class => 'text_area form-control', :rows => '12', :"data-provide" => "markdown", :'data-iconlibrary' => 'fa' %>
  </div>

  <h4>Education Experiences</h4>

  <div class="list-group">
    <%= f.collection_check_boxes(:education_experience_ids,  EducationExperience.order("end_date ASC"), :id, :school_name,
      { :selected => @resume.education_experience_ids }, { :multiple => true } ) do |b| %>
      <label class="list-group-item clearfix">
        <p class="pull-left">
          <%= b.check_box %>
          <%= b.text %><br />
          <small><%= b.object.diploma %></small>
        </p>
        <div class="pull-right">
          <%= b.object.date_range %>
        </div>
      </label>
    <% end %>
  </div>

  <h4>Work Experiences</h4>

  <div class="list-group">
    <%= f.collection_check_boxes(:work_experience_ids,  WorkExperience.order("end_date ASC"), :id, :organization,
      { :selected => @resume.work_experience_ids }, { :multiple => true } ) do |b| %>
      <label class="list-group-item clearfix">
        <p class="pull-left">
          <%= b.check_box %>
          <%= b.text %><br />
          <small><%= b.object.position %></small>
        </p>
        <div class="pull-right">
          <%= b.object.date_range %>
        </div>
      </label>
    <% end %>
  </div>

  <h4>Relevant Projects</h4>

  <div class="list-group">
    <%= f.collection_check_boxes(:project_ids,  Project.order("end_date ASC"), :id, :name,
      { :selected => @resume.project_ids }, { :multiple => true } ) do |b| %>
      <label class="list-group-item clearfix">
        <%= b.check_box %>
        <%= b.text %>
        <% if b.object.project_status %>
          <span class="label label-<%= b.object.project_status.slug %>">
            <%= b.object.project_status.name %>
          </span>
        <% end %>
        <div class="pull-right">
          <%= b.object.date_range %>
        </div>
      </label>
    <% end %>
  </div>

  <h4>Relevant Skills</h4>

  <div class="list-group">
    <%= f.collection_check_boxes(:skill_ids,  Skill.order("name ASC"), :id, :name,
      { :selected => @resume.skill_ids }, { :multiple => true } ) do |b| %>
      <label class="list-group-item">
        <div class="row">
          <div class="col-xs-1">
            <%= b.check_box %>
          </div>
          <div class="col-xs-11">
            <%= b.text %>
            <span class="label label-default">
              <%= b.object.skill_category.name %>
            </span>
          </div>
        </div>
      </label>
    <% end %>
  </div>

  <div class="actionbar actionbar-fixed-bottom">
    <div class="actionbar-left">
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  manage_resumes_path, :class => 'btn btn-default' %>
    </div>
    <div class="actionbar-right">
      <% unless @resume.new_record? %>
        <small class="text-muted">Modified <%= time_ago_in_words(@resume.updated_at) %> ago</small>
      <% end %>
      <%= f.submit nil, :class => 'btn btn-primary' %>
    </div>
  </div>
<% end %>
