<% page_title "CVs" %>

<div class="flex flex-col">
  <% @resumes.each do |resume| %>
    <div class="card">
      <header class="card-header">
        <div class="flex items-center justify-between mb-4">
          <h4 class="text-xl">
            <%= link_to resume_path(resume), title: "#{ t('.show', :default => t('helpers.links.show')) }", class: 'underline' do %>
              <%= resume.name -%>
            <% end %>
          </h4>

          <% if resume.published %>
            <span class="label label-success">Published</span>
          <% end %>
        </div>
      </header>

      <div class="card-body">
        <%= resume.description %>
      </div>

      <footer class="card-actions">
        <div class="left">
          <span class="px-6 py-2 text-gray-700">
            Updated <%= time_ago_in_words(resume.updated_at) %> ago
          </span>
        </div>
        <div class="right">
          <%= link_to resume_path(resume, :format => :pdf), class: 'action-link' do %>
            <%= icon 'far', 'file-alt inline-block mr-1', 'PDF' %>
          <%- end -%>
          <%= link_to edit_manage_resume_path(resume), class: 'action-link' do %>
            <%= icon 'fas', 'pencil-alt inline-block mr-1', 'Edit' %>
          <% end %>
          <%= link_to manage_resume_path(resume), class: 'danger-link', method: :delete, data: { confirm: 'Are you sure?' } do %>
            <%= icon 'fas', 'times inline-block mr-1', 'Delete' %>
          <% end %>
        </div>
      </footer>
    </div>
  <% end %>
</div>

<% content_for :actionbar_left do %>
  <%= paginate @resumes %>
<% end %>

<% content_for :actionbar_right do %>
  <%= link_to new_manage_resume_path, :class => 'btn btn-primary' do %>
    <%= icon 'fas', 'plus h-5 w-5 inline-block mr-4', 'New CV' %>
  <% end %>
<% end %>
