<% page_title "Project Categories" %>

<table class="w-full table-auto border border-gray-200">
  <thead>
    <tr>
      <th class="px-4 py-2">Name</th>
      <th class="px-4 py-2">Slug</th>
      <th class="px-4 py-2">Created</th>
      <th class="px-4 py-2"><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @project_categories.each do |project_category| %>
      <tr>
        <td class="px-4 py-2"><%= project_category.name %></td>
        <td class="px-4 py-2"><%= project_category.slug %></td>
        <td class="px-4 py-2"><%= time_ago_in_words(project_category.created_at) %> ago</td>
        <td class="px-4 py-2">
          <%= link_to edit_manage_project_category_path(project_category), :class => 'btn btn-xs', :title => "#{ t('.edit', :default => t('helpers.links.edit')) }" do %>
            <%= icon 'fas', 'pencil-alt h-4 w-4 inline-block mr-4', title: 'Edit' %>
          <%- end -%>
          <%= link_to manage_project_category_path(project_category), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= icon 'fas', 'times h-4 w-4 inline-block mr-4', title: 'Delete' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% content_for :actionbar_left do %>
  <%= paginate @project_categories %>
<% end %>

<% content_for :actionbar_right do %>
  <%= link_to new_manage_project_category_path, :class => 'btn btn-primary' do %>
    <%= icon 'fas', 'plus h-5 w-5 inline-block mr-4', 'New Project Category' %>
  <% end %>
<% end %>
