<%= form_for @user, url: manage_profile_path, :html => { :multipart => true } do |f| %>
<% if @user.errors.any? %>
<div class="alert alert-danger">
  <strong>There were some errors when trying to save changes:</strong>
  <ul>
    <% @user.errors.each do |attribute, message| %>
      <li><%= attribute %> <%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div role="tabpanel">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation"<% if params[:tab] == 'basics' or params[:tab].nil? %> class="active"<% end %>>
      <a href="?tab=basics" aria-controls="basics" role="tab" data-toggle="tab" data-target="#basics">Basics</a>
    </li>
    <li role="presentation"<% if params[:tab] == 'header' %> class="active"<% end %>>
      <a href="?tab=header" aria-controls="header" role="tab" data-toggle="tab" data-target="#header">Header &amp; Avatar</a>
    </li>
    <li role="presentation"<% if params[:tab] == 'social' %> class="active"<% end %>>
      <a href="?tab=social" aria-controls="social" role="tab" data-toggle="tab" data-target="#social">Social Networks</a>
    </li>
  </ul>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane<% if params[:tab] == 'basics' or params[:tab].nil? %> active<% end %>" id="basics">
      <div class="form-group">
        <%= f.label :first_name, :class => 'control-label' %>
        <%= f.text_field :first_name, :class => 'text_field form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :last_name, :class => 'control-label' %>
        <%= f.text_field :last_name, :class => 'text_field form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :tagline, :class => 'control-label' %>
        <%= f.text_field :tagline, :class => 'text_field form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :about_me, :class => 'control-label' %>
        <%= f.text_area :about_me, :class => 'text_field form-control', rows: '12', :"data-provide" => "markdown", :'data-iconlibrary' => 'fa' %>
      </div>
      <div class="form-group">
        <%= f.label :types, :class => 'control-label' %>
        <div>
          <%= f.collection_check_boxes(:type_ids, Type.order("name ASC"), :id, :name,
            { :selected => @user.type_ids }, { :multiple => true } ) do |b| %>
            <%= b.label(class: "checkbox-inline") do %>
              <%= b.check_box %>
              <%= b.text %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane<% if params[:tab] == 'header' %> active<% end %>" id="header">
      <div class="row">
        <div class="col-sm-8">
          <div class="form-group">
            <%= f.label :header_media_type, :class => 'control-label' %>
            <div>
              <%= f.select :header_media_type, User.header_media_types.keys.to_a.map { |w| [w.humanize, w] } %>
            </div>
          </div>

          <% if @user.using_video_header? %>
          <div class="form-group">
            <%= f.label :header_video, :class => 'control-label' %>
            <% if @user.header_video? and !@user.header_video_processing? %>
            <div class="embed-responsive embed-responsive-16by9">
              <video class="embed-responsive-item" loop controls>
                <source src="<%= @user.header_video.webm.url %>" type="video/webm" />
                <source src="<%= @user.header_video.mp4.url %>" type="video/mp4" />
              </video>
            </div>
            <br>
            <% end %>
            <% if @user.header_video_processing? %>
            <div class="alert alert-info">
              <strong>Your video is processing!</strong> The video you uploaded is still being processed. This shouldn't take too long, but it's not ready just yet.
            </div>
            <br>
            <% end %>
            <%= f.file_field :header_video %>
            <%= f.hidden_field :header_video_cache %>
          </div>
          <% elsif @user.using_image_header? %>
          <div class="form-group">
            <%= f.label :header_image, :class => 'control-label' %>
            <% if @user.header_image? %>
            <div class="thumbnail img-responsive">
              <%= image_tag @user.header_image_url %>
            </div>
            <br>
            <% end %>
            <%= f.file_field :header_image %>
            <%= f.hidden_field :header_image_cache %>
          </div>
          <% end %>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <div class="thumbnail">
              <%= image_tag @user.avatar_url, alt: "Avatar" %>
            </div>
            <div class="form-group">
              <%= f.label :avatar_image, :class => 'control-label' %>
              <%= f.file_field :avatar_image %>
              <%= f.hidden_field :avatar_image_cache %>
            </div>
            <div class="form-group">
              <%= f.label :avatar_label, :class => 'control-label' %>
              <%= f.text_field :avatar_label, :class => 'text_field form-control' %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane<% if params[:tab] == 'social' %> active<% end %>" id="social">
      <div class="form-horizontal">
        <% if @user.developer? %>
        <div class="form-group">
          <%= f.label :github_handle, :class => 'control-label col-xs-2 col-md-1' do %>
            <%= icon('github-square', '', class: 'fa-fw fa-2x') %>
          <% end %>
          <div class="col-xs-10 col-md-9">
            <div class="input-group">
              <span class="input-group-addon">@</span>
              <%= f.text_field :github_handle, :class => 'text_field form-control' %>
            </div>
          </div>
        </div>
        <% end %>
        <div class="form-group">
          <%= f.label :googleplus_handle, :class => 'control-label col-xs-2 col-md-1' do %>
            <%= icon('google-plus-square', '', class: 'fa-fw fa-2x') %>
          <% end %>
          <div class="col-xs-10 col-md-9">
            <%= f.text_field :googleplus_handle, class: 'text_field form-control', placeholder: 'e.g. +AGoogleUser' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :linkedin_handle, :class => 'control-label col-xs-2 col-md-1' do %>
            <%= icon('linkedin-square', '', class: 'fa-fw fa-2x') %>
          <% end %>
          <div class="col-xs-10 col-md-9">
            <%= f.text_field :linkedin_handle, :class => 'text_field form-control' %>
          </div>
        </div>

        <% if @user.musician? %>
        <div class="form-group">
          <%= f.label :soundcloud_handle, :class => 'control-label col-xs-2 col-md-1' do %>
            <%= icon('soundcloud', '', class: 'fa-fw fa-2x') %>
          <% end %>
          <div class="col-xs-10 col-md-9">
            <div class="input-group">
              <span class="input-group-addon">soundcloud.com/</span>
              <%= f.text_field :soundcloud_handle, :class => 'text_field form-control' %>
            </div>
          </div>
        </div>
        <% end %>

        <div class="form-group">
          <%= f.label :tumblr_url, :class => 'control-label col-xs-2 col-md-1' do %>
            <%= icon('tumblr-square', '', class: 'fa-fw fa-2x') %>
          <% end %>
          <div class="col-xs-10 col-md-9">
            <%= f.text_field :tumblr_url, :class => 'text_field form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :twitter_handle, :class => 'control-label col-xs-2 col-md-1' do %>
            <%= icon('twitter-square', '', class: 'fa-fw fa-2x') %>
          <% end %>
          <div class="col-xs-10 col-md-9">
            <div class="input-group">
              <span class="input-group-addon">@</span>
              <%= f.text_field :twitter_handle, :class => 'text_field form-control' %>
            </div>
          </div>
        </div>

        <% if @user.musician? or @user.filmmaker? %>
        <div class="form-group">
          <%= f.label :vimeo_handle, :class => 'control-label col-xs-2 col-md-1' do %>
            <%= icon('vimeo-square', '', class: 'fa-fw fa-2x') %>
          <% end %>
          <div class="col-xs-10 col-md-9">
            <div class="input-group">
              <span class="input-group-addon">vimeo.com/</span>
              <%= f.text_field :vimeo_handle, :class => 'text_field form-control' %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :youtube_handle, :class => 'control-label col-xs-2 col-md-1' do %>
            <%= icon('youtube-play', '', class: 'fa-fw fa-2x') %>
          <% end %>
          <div class="col-xs-10 col-md-9">
            <div class="input-group">
              <span class="input-group-addon">youtube.com/user/</span>
              <%= f.text_field :youtube_handle, :class => 'text_field form-control' %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="form-group">
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
              request.referrer || manage_dashboard_path, :class => 'btn btn-default' %>
</div>
<% end %>
