<div class="post-details">
  <ul class="list-inline">
    <li>
      <%= icon 'calendar', '', class: 'fa-fw', title: 'Published' %>
      <%= post.created_at.strftime('%B %e, %Y') %>
    </li>
    <li>
      <%= image_tag post.user.avatar_url, height: 18, class: 'img-rounded', title: 'Author' %>
      <%= post.user.full_name %>
    </li>
    <li>
      <%= icon 'folder', '', class: 'fa-fw' %>
      <% if post.post_categories.count > 0 %>
        <%= post.post_categories.pluck(:name).join(', ') %>
      <% else %>
        Uncategorized
      <% end %>
    </li>
  </ul>
</div>

<section class="post-body">
  <%= markdown(post.body) %>
</section>
