<% page_title "Blog Posts" %>

<div class="list-group">
  <% @posts.each do |post| %>
    <div class="list-group-item">
      <div class="row">
        <div class="col-xs-10 col-sm-11">
          <h4>
            <%= link_to post_url(post) do %>
              <%= post.title %>
            <% end %>
            <% if post.published && post.published_on %>
              <span class="label label-success">Published <%= post.published_on.strftime("%B %e, %Y") %></span>
            <% else %>
              <span class="label label-default">Draft</span>
            <% end %>
          </h4>
          <h6 class="text-muted">
            Updated <%= time_ago_in_words(post.updated_at) %> ago
          </h6>
        </div>
        <div class="col-xs-2 col-sm-1">
          <%= link_to edit_manage_post_path(post), class: 'btn btn-xs' do %>
            <%= icon 'pencil', '' %>
          <% end %>
          <%= link_to manage_post_path(post), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs' do %>
            <%= icon 'remove', '' %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<% content_for :actionbar_left do %>
  <%= paginate @posts %>
<% end %>

<% content_for :actionbar_right do %>
  <%= link_to new_manage_post_path, class: 'btn btn-primary' do %>
    <%= icon 'plus', 'New Post' %>
  <% end %>
<% end %>
