<% page_title "Blog Posts" %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Published</th>
      <th>Title</th>
      <th>Last Updated</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td>
          <% if post.published && post.published_on %>
            <span class="label label-success">Published <%= post.published_on.strftime("%B %e, %Y") %></span>
          <% else %>
            <span class="label label-default">Draft</span>
          <% end %>
        </td>
        <td>
          <%= link_to post_url(post) do %>
            <%= post.title %>
          <% end %>
        </td>
        <td><%= time_ago_in_words(post.updated_at) %> ago</td>
        <td>
          <%= link_to edit_manage_post_path(post), class: 'btn btn-xs' do %>
            <%= icon 'pencil', '' %>
          <% end %>
          <%= link_to manage_post_path(post), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs' do %>
            <%= icon 'remove', '' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to new_manage_post_path, class: 'btn btn-primary' do %>
  <%= icon 'plus', 'New Post' %>
<% end %>

<%= paginate @posts %>
