<% page_title "Projects" %>

<div class="flex flex-col">
  <% @projects.each do |project| %>
    <div class="w-full rounded bg-white overflow-hidden shadow-lg px-6 py-4 mb-6">
      <div class="flex">
        <div class="flex-1">
          <h4 class="text-xl mb-4 flex w-full justify-between">
            <%= link_to edit_manage_project_path(project), class: 'underline' do %>
              <%= project.name -%>
            <% end %>
            <% if project.status %>
              <span class="project-status label label-default label-<%= project.status.slug %>">
                <%= project.status.name %>
              </span>
            <% end %>
          </h4>
          <h6 class="text-sm text-gray-600">
            Updated <%= time_ago_in_words(project.updated_at) %> ago
          </h6>
        </div>
        <div class="flex-grow-0 ml-6">
          <%= link_to edit_manage_project_path(project), class: 'btn btn-xs' do %>
            <%= icon 'fas', 'pencil-alt h-4 w-4 inline-block', '', title: 'Edit' %>
          <% end %>
          <%= link_to manage_project_path(project), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs' do %>
            <%= icon 'fas', 'times h-4 w-4 inline-block', '', title: 'Delete' %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<% content_for :actionbar_left do %>
  <%= paginate @projects %>
<% end %>

<% content_for :actionbar_right do %>
  <%= link_to "New Project", new_manage_project_path, class: 'btn btn-link' %>
  <%= link_to "New Project Category", new_manage_project_category_path, class: 'btn btn-link' %>
<% end %>
