<div class="page-header">
  <%= page_title "Projects" %>
</div>

<div class="btn-toolbar" role="toolbar">
  <div class="btn-group btn-group-sm">
    <button id="all" class="btn btn-primary">All</button>
    <button id="current-projects" class="btn btn-default js-filter">Current</button>
    <button id="past-projects" class="btn btn-default js-filter">Past</button>
  </div>
  <div class="btn-group btn-group-sm">
    <% @project_categories.each do |category| %>
      <button id="<%= category.slug %>" class="btn btn-default js-filter">
        <%= category.name %>
      </button>
    <% end %>
  </div>
  <% if user_signed_in? and current_tenant == current_user %>
  <div class="btn-group btn-group-sm pull-right">
    <%= link_to new_manage_project_path, class: 'btn btn-primary btn-sm' do %>
      <%= icon 'plus', 'Add' %>
    <% end %>
    <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
      <span class="caret"></span>
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><%= link_to "New Project", new_manage_project_path %></li>
      <li><%= link_to "New Project Category", new_manage_project_category_path %></li>
    </ul>
  </div>
  <% end %>
</div>
<hr />

<%= render partial: "projects/project" , collection: @projects %>
