<% page_title "Manage Users" %>

<table class="listing-table">
  <thead>
    <tr>
      <th>Email</th>
      <th>Full Name</th>
      <th>Subdomain</th>
      <th>Domain</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr data-user-id="<%= user.id %>">
        <td>
          <%= link_to user.email, edit_manage_user_path(user), class: 'underline' %>
        </td>
        <td><%= user.full_name %></td>
        <td><%= user.subdomain %></td>
        <td><%= user.domain %></td>
        <td>
          <% if user.disabled_at.present? %>
            <span class="label label-danger">
              <%= icon 'fas', 'times h-4 w-4 inline-block mr-1', 'Disabled' %>
            </span>
          <% elsif user.locked_at.present? %>
            <span class="label label-warning">
              <%= icon 'fas', 'lock h-4 w-4 inline-block mr-1', 'Locked' %>
            </span>
          <% else %>
            <span class="label label-success">
              <%= icon 'fas', 'check h-4 w-4 inline-block mr-1', 'Active' %>
            </span>
          <% end %>
        </td>
        <td>
          <%= link_to edit_manage_user_path(user), class: 'btn btn-link -ml-4' do -%>
            Edit
          <%- end -%>
          <%= link_to manage_user_path(user), class: 'btn btn-link link-danger', method: :delete, data: { confirm: 'Are you sure? This cannot be undone.' } do -%>
            Delete
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% content_for :actionbar_left do %>
  <%= paginate @users %>
<% end %>

<% content_for :actionbar_right do %>
<% end %>
