<%= page_title t('doorkeeper.authorized_applications.index.title') %>

<main role="main">
  <table class="w-full table-auto border border-gray-200">
    <thead>
    <tr>
      <th class="px-4 py-2"><%= t('doorkeeper.authorized_applications.index.application') %></th>
      <th class="px-4 py-2"><%= t('doorkeeper.authorized_applications.index.created_at') %></th>
      <th class="px-4 py-2"></th>
      <th class="px-4 py-2"></th>
    </tr>
    </thead>
    <tbody>
    <% @applications.each do |application| %>
      <tr>
        <td class="px-4 py-2"><%= application.name %></td>
        <td class="px-4 py-2"><%= application.created_at.strftime(t('doorkeeper.authorized_applications.index.date_format')) %></td>
        <td class="px-4 py-2"><%= render 'delete_form', application: application %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</main>

<% content_for :actionbar_left do %>
  <%= link_to "Back to OAuth2 Applications", oauth_applications_path, class: 'btn btn-default' %>
<% end %>
