<%= form_for [:manage, @education_experience] do |f| %>
<div class="row">
  <div class="col-sm-8">
    <div class="form-group">
      <%= f.label :school_name, :class => 'control-label' %>
      <%= f.text_field :school_name, :class => 'text_field form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :diploma, :class => 'control-label' %>
      <%= f.text_field :diploma, :class => 'text_field form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :description, :class => 'control-label' %>
      <%= f.text_area :description, :class => 'text_area form-control', :row => '8', :"data-provide" => "markdown", :'data-iconlibrary' => 'fa' %>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-default">
      <header class="panel-heading">
        Experience Details
      </header>
      <div class="panel-body">
        <div class="form-group">
          <%= f.label :start_date, :class => 'control-label' %>
          <div>
            <%= f.date_select :start_date, { start_year: 1970 }, :class => 'form-control inline-block', :style => 'max-width: 100px;' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :end_date, :class => 'control-label' %>
          <div>
            <%= f.date_select :end_date, { :include_blank => true, :start_year => 1970 }, { :class => 'form-control inline-block', :style => 'max-width: 100px;' } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="actionbar actionbar-fixed-bottom">
  <div class="actionbar-left">
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                manage_education_experiences_path, :class => 'btn btn-default' %>
  </div>
  <div class="actionbar-right">
    <% unless @education_experience.new_record? %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                    manage_education_experiences_path(@education_experience), :method => 'DELETE', data: { confirm: 'Are you sure?' }, :class => 'btn btn-link link-danger' %>
    <% end %>
    <%= f.submit nil, :class => 'btn btn-primary' %>
  </div>
</div>
<% end %>
