<%= form_for [:manage, @education_experience], :html => { :class => 'form-horizontal' } do |f| %>
  <div class="form-group">
    <%= f.label :school_name, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :school_name, :class => 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :diploma, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :diploma, :class => 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :description, :class => 'text_area form-control', :row => '8', :"data-provide" => "markdown", :'data-iconlibrary' => 'fa' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :start_date, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.date_select :start_date, { start_year: 1970 }, :class => 'form-control inline-block', :style => 'max-width: 100px;' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :end_date, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.date_select :end_date, { :include_blank => true, :start_year => 1970 }, { :class => 'form-control inline-block', :style => 'max-width: 100px;' } %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  manage_education_experiences_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
