<% page_title "Education Experiences" %>

<div class="flex flex-col">
  <% @education_experiences.each do |education_experience| %>
    <div class="card">
      <header class="card-header">
        <div class="flex items-center justify-between mb-2">
          <h4 class="text-xl">
            <%= link_to edit_manage_education_experience_path(education_experience), class: 'underline' do -%>
              <%= education_experience.school_name %>
            <%- end -%>
          </h4>

          <%= education_experience.date_range %>
        </div>
        <small class="text-sm mb-4 block"><%= education_experience.diploma %></small>
      </header>

      <div class="card-body">
        <%= markdown(education_experience.description) -%>
      </div>

      <footer class="card-actions">
        <div class="left">
          <span class="px-6 py-2 text-gray-700">
            Updated <%= time_ago_in_words(education_experience.updated_at) %> ago
          </span>
        </div>
        <div class="right">
          <%= link_to edit_manage_education_experience_path(education_experience), class: 'action-link' do %>
            <%= icon 'fas', 'pencil-alt inline-block mr-1', 'Edit' %>
          <% end %>
          <%= link_to manage_education_experience_path(education_experience), class: 'danger-link', method: :delete, data: { confirm: 'Are you sure?' } do %>
            <%= icon 'fas', 'times inline-block mr-1', 'Delete' %>
          <% end %>
        </div>
      </footer>
    </div>
  <% end %>
</div>

<% content_for :actionbar_left do %>
  <%= paginate @education_experiences %>
<% end %>

<% content_for :actionbar_right do %>
  <%= link_to new_manage_education_experience_path, :class => 'btn btn-primary' do %>
    <%= icon 'fas', 'plus h-5 w-5 inline-block mr-4', 'New Education Experience' %>
  <% end %>
<% end %>
