<%= form_for @user, url: profile_path, :html => { :class => 'row' } do |f| %>
<div class="col-md-9 form-horizontal">
  <div class="form-group">
    <%= f.label :email, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :email, :class => 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :first_name, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :first_name, :class => 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :last_name, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :last_name, :class => 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :tagline, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :tagline, :class => 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :header_image_url, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :header_image_url, :class => 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :about_me, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :about_me, :class => 'text_field form-control', rows: '12', :"data-provide" => "markdown" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :github_handle, :class => 'control-label col-md-2' do %>
      <%= icon('github-square', '', class: 'fa-fw fa-2x') %>
    <% end %>
    <div class="col-md-10">
      <%= f.text_field :github_handle, :class => 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :googleplus_handle, :class => 'control-label col-md-2' do %>
      <%= icon('google-plus-square', '', class: 'fa-fw fa-2x') %>
    <% end %>
    <div class="col-md-10">
      <%= f.text_field :googleplus_handle, :class => 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :linkedin_handle, :class => 'control-label col-md-2' do %>
      <%= icon('linkedin-square', '', class: 'fa-fw fa-2x') %>
    <% end %>
    <div class="col-md-10">
      <%= f.text_field :linkedin_handle, :class => 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :twitter_handle, :class => 'control-label col-md-2' do %>
      <%= icon('twitter-square', '', class: 'fa-fw fa-2x') %>
    <% end %>
    <div class="col-md-10">
      <%= f.text_field :twitter_handle, :class => 'text_field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  profile_path, :class => 'btn btn-default' %>
    </div>
  </div>
</div>
<div class="col-md-3">
  <div class="thumbnail">
    <%= image_tag @user.gravatar_url, alt: "Gravatar", title: "Change this on gravatar.com" %>
    <div class="form-group">
      <%= f.label :avatar_label, :class => 'control-label' %>
      <%= f.text_field :avatar_label, :class => 'text_field form-control' %>
    </div>
  </div>
</div>
<% end %>
