<%= form_for @user, url: profile_path, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="form-group">
    <%= f.label :email, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :email, :class => 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :first_name, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :first_name, :class => 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :last_name, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :last_name, :class => 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :tagline, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :tagline, :class => 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :header_image_url, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :header_image_url, :class => 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :about_me, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :about_me, :class => 'text_field form-control', rows: '6', :"data-provide" => "markdown" %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  profile_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
