<div class="row row-profile">
  <div class="col-sm-9">
    <div class="page-header">
      <h3>About <strong class="ebleu">Me</strong></h3>
    </div>
    <div class="about-me">
      <%= markdown(user.about_me) %>
    </div>
    <div class="page-header">
      <h3>My <strong class="ebleu">Skills</strong></h3>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <ul>
        <% user.skills.each_with_index do |skill, index| %>
          <% if index <= (user.skills.length / 2) %>
            <li><%= skill.name %></li>
          <% end %>
        <% end %>
        </ul>
      </div>
      <div class="col-sm-6">
        <ul>
        <% user.skills.each_with_index do |skill, index| %>
          <% if index > (user.skills.length / 2) %>
            <li><%= skill.name %></li>
          <% end %>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <span class="thumbnail">
      <%= image_tag user.gravatar_url %>
      <%= user.avatar_label if user.avatar_label and user.avatar_label.length > 0 %>
    </span>
    <hr />
    <ul class="list-group">
      <!--<li class="list-group-item">
        <a href="#contact" data-toggle="modal" data-target="#contact">
          <span class="fa-fw fa fa-2x fa-envelope-square"></span>
          <span class="sr-only">Email</span>
        </a>
      </li>-->
      <% if current_tenant.github_handle and current_tenant.github_handle.length > 0 %>
      <li class="list-group-item list-group-item-social">
        <%= icon('github-square', '', class: 'fa-fw fa-2x') %>
        <a href="https://github.com/<%= current_tenant.github_handle %>" target="_blank">
          @<%= current_tenant.github_handle %>
        </a>
      </li>
      <% end %>
      <% if current_tenant.googleplus_handle and current_tenant.googleplus_handle.length > 0 %>
      <li class="list-group-item list-group-item-social">
        <%= icon('google-plus-square', '', class: 'fa-fw fa-2x') %>
        <a href="https://plus.google.com/<%= current_tenant.googleplus_handle %>" target="_blank">
          <%= current_tenant.googleplus_handle %>
        </a>
      </li>
      <% end %>
      <% if current_tenant.linkedin_handle and current_tenant.linkedin_handle.length > 0 %>
      <li class="list-group-item list-group-item-social">
        <%= icon('linkedin-square', '', class: 'fa-fw fa-2x') %>
        <a href="http://www.linkedin.com/in/<%= current_tenant.linkedin_handle %>/" target="_blank">
          <%= current_tenant.linkedin_handle %>
        </a>
      </li>
      <% end %>
      <% if current_tenant.twitter_handle and current_tenant.twitter_handle.length > 0 %>
      <li class="list-group-item list-group-item-social">
        <%= icon('twitter-square', '', class: 'fa-fw fa-2x') %>
        <a href="https://twitter.com/<%= current_tenant.twitter_handle %>" target="_blank">
          @<%= current_tenant.twitter_handle %>
        </a>
      </li>
      <% end %>
    </ul>
  </div>
</div>
