<%= form_for ([:manage, @skill_category, @skill]) do |f| %>
  <div class="form-group">
    <%= f.label :name, :class => 'control-label' %>
    <%= f.text_field :name, :class => 'text_field form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :skill_category_id, :class => 'control-label' %>
    <%= f.collection_select :skill_category_id, SkillCategory.all, :id, :name, {}, :class => 'text_field form-control' %>
  </div>

  <div class="form-group">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  manage_skills_path, :class => 'btn btn-default' %>
  </div>
<% end %>
