<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render :partial => 'shared/head' %>
    <title><%= content_for?(:title) ? yield(:title) : "Resumis" %></title>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

    <%= render :partial => 'shared/navbar' %>

    <div class="container">
      <%= bootstrap_flash %>
      <%= yield %>
    </div>

    <footer class="footer-page">
      <div class="container">
        <p>Powered by Resumis</p>
      </div>
    </footer>
  </body>
</html>
