<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render :partial => 'shared/head' %>
    <title><%= content_for?(:title) ? yield(:title) : "Resumis" %></title>

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
  </head>
  <body>

    <%= render :partial => 'shared/navbar' %>

    <div class="container">
      <%= bootstrap_flash %>
      <%= yield %>
    </div>

    <footer class="footer-page">
      <div class="container">
        <p>Powered by Resumis</p>
      </div>
    </footer>
  </body>
</html>
