<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render :partial => 'shared/head' %>

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <%= render :partial => 'shared/navbar' %>
    <%= render :partial => 'shared/user_header', :locals => { user: current_tenant } if current_tenant %>

    <div class="container">
      <%= bootstrap_flash %>
      <%= yield %>
    </div>

    <footer class="footer-page">
      <div class="container">
        <div class="row">
          <div class="col-xs-6">
            <p>
              Copyright &copy; <%= Date.today.year %> <%= root_user.full_name %>
              <% unless user_signed_in? %>
                &middot; <%= link_to "Login", new_user_session_path %>
              <% end %>
            </p>
          </div>
        </div>
      </div>
    </footer>

    <% if user_signed_in? and current_tenant != current_user %>
      <%= render :partial => 'shared/userbar' %>
    <% end %>
  </body>
</html>
