<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render :partial => 'shared/head' %>
    <title><%= content_for?(:title) ? yield(:title) : "Resumis" %></title>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= stylesheet_link_tag "resumis" %>
  </head>
  <body class="bg-gray-100 antialiased flex flex-col min-h-screen">
    <%= render :partial => 'shared/navbar' %>

    <div class="w-full flex-1">
      <div class="container mx-auto px-4 py-6">
        <%= render_alerts %>
        <%= yield %>
      </div>
      <footer class="flex-initial">
        <div class="container mx-auto">
          <p class="text-gray-700 text-center text-sm">
            Powered by <a href="https://github.com/maxfierke/resumis" class="underline">Resumis</a>
          </p>
        </div>
      </footer>
    </div>
  </body>
</html>
