<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render :partial => 'shared/head' %>

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <%= render :partial => 'shared/navbar' %>
    <%= render :partial => 'shared/user_header', :locals => { user: current_tenant } if current_tenant %>

    <div class="container">
      <%= bootstrap_flash %>
      <%= yield %>
    </div>

    <footer class="footer-page">
      <div class="container">
        <p>
          Copyright &copy; <%= current_tenant.copyright_range -%>
          <% unless user_signed_in? %>
            &middot; <%= link_to "Login", new_user_session_url(host: canonical_host) %>
          <% end %>
        </p>
      </div>
    </footer>

    <% if user_signed_in? and current_tenant != current_user %>
      <%= render :partial => 'shared/userbar' %>
    <% else %>
    <div class="pi">
      &pi;
      <span class="pi-hidden">
        Powered by <a href="https://github.com/maxfierke/resumis">Resumis</a>. A cool thing by <a href="https://www.maxfierke.com">Max Fierke</a>.
      </span>
    </div>
    <% end %>
  </body>
</html>
