<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render :partial => 'shared/head' %>
    <title><%= content_for?(:title) ? yield(:title) : "Resumis" %></title>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="bg-gray-100 antialiased flex flex-col min-h-screen">
    <%= render :partial => 'shared/navbar' %>

    <div class="w-full flex-1">
      <div class="container mx-auto px-4 py-6">
        <%= render_alerts %>
        <%= yield %>
      </div>
    </div>

    <footer class="footer-page flex-initial">
      <div class="container mx-auto">
        <p class="text-gray-700 text-center text-sm py-3">
          Powered by <a href="https://github.com/maxfierke/resumis">Resumis</a>
        </p>
      </div>
    </footer>
  </body>
</html>
