<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render :partial => 'shared/head' %>
    <title><%= content_for?(:title) ? yield(:title) : "Resumis" %></title>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="flex items-center justify-between flex-wrap bg-black text-white p-6">
      <div class="flex items-center flex-shrink-0 text-white mr-6">
        <span class="font-semibold text-xl tracking-tight">Resumis</span>
      </div>
      <div class="block lg:hidden">
        <button class="flex items-center px-3 py-2 border rounded text-white border-white-400 hover:border-white">
          <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
        </button>
      </div>
      <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto justify-end">
        <% if user_signed_in? %>
          <p class="text-xl">
            Hey, <strong><%= current_user.first_name %></strong>!
          </p>
          <%= link_to "Go to My Site", "#{request.protocol}#{tenant_instance_hostname(current_user)}/", class: 'btn btn-link' %>
          <%= link_to "Logout", destroy_user_session_url, :method => :delete, class: "btn btn-danger" %>
        <% else %>
          <%= link_to new_user_session_url, class: "btn btn-link" do %>
            Login to Resumis
          <% end %>
          <% if Devise.mappings[:user].registerable? && ResumisConfig.multi_tenant? %>
            <%= link_to new_user_registration_url, class: "btn btn-primary" do %>
              Sign Up
            <% end %>
          <% end %>
        <% end %>
      </div>
    </nav>

    <div class="flex flex-col">
      <div class="w-full min-h-screen">
        <div class="container mx-auto px-4 py-20">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
      </div>

      <footer class="footer-page flex-initial">
        <div class="container">
          <p>
            Powered by Resumis &middot; Built with <span class="fas fa-heart" title="love"></span> by <a href="https://www.maxfierke.com">Max Fierke</a>
          </p>
        </div>
      </footer>
    </div>
  </body>
</html>
