<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render :partial => 'shared/head' %>
    <title><%= content_for?(:title) ? yield(:title) : "Resumis" %></title>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="bg-gray-100 antialiased flex flex-col min-h-screen">
    <%= render :partial => 'shared/navbar' %>

    <div class="flex flex-1 overflow-hidden">
      <aside class="w-1/5 bg-grey-dark text-white">
        <nav class="nav-tiles">
          <%= link_to manage_dashboard_path, class: 'nav-link' do %>
            <%= icon 'fas', 'tachometer-alt fa-fw h-5 w-5 inline-block mr-4', 'Dashboard' %>
          <% end %>
          <%= link_to manage_posts_path, class: 'nav-link' do -%>
            <%= icon 'fas', 'paragraph fa-fw h-5 w-5 inline-block mr-4', 'Blog' %>
          <%- end -%>
          <%= link_to manage_projects_path, class: 'nav-link' do %>
            <%= icon 'fas', 'gem fa-fw h-5 w-5 inline-block mr-4', 'Projects' %>
          <% end %>
          <%= link_to manage_resumes_path, class: 'nav-link' do %>
            <%= icon 'far', 'file-alt fa-fw h-5 w-5 inline-block mr-4', 'CVs' %>
          <% end %>
          <div class="text-grey-light text-sm uppercase px-6 py-2">
            Experiences
          </div>
          <%= link_to manage_education_experiences_path, class: 'nav-link' do %>
            <%= icon 'fas', 'graduation-cap fa-fw h-5 w-5 inline-block mr-4', 'Education' %>
          <% end %>
          <%= link_to manage_skills_path, class: 'nav-link' do %>
            <%= icon 'fas', 'wrench fa-fw h-5 w-5 inline-block mr-4', 'Skills' %>
          <% end %>
          <%= link_to manage_work_experiences_path, class: 'nav-link' do %>
            <%= icon 'fas', 'suitcase fa-fw h-5 w-5 inline-block mr-4', 'Work' %>
          <% end %>
          <%- if current_user.admin? -%>
            <div class="text-grey-light text-sm uppercase px-6 py-2">
              Administration
            </div>
            <%= link_to oauth_applications_url(host: ResumisConfig.canonical_host), class: 'nav-link' do %>
              <%= icon 'fas', 'exchange-alt fa-fw h-5 w-5 inline-block mr-4', 'OAuth2 Applications' %>
            <% end %>
            <%= link_to sidekiq_web_url(host: ResumisConfig.canonical_host), class: 'nav-link', target: '_blank' do %>
              <%= icon 'fas', 'external-link-alt fa-fw h-5 w-5 inline-block mr-4', 'Sidekiq UI' %>
            <% end %>
            <%- if ResumisConfig.multi_tenant? -%>
              <%= link_to manage_users_path(host: ResumisConfig.canonical_host), class: 'nav-link' do %>
                <%= icon 'fas', 'users fa-fw h-5 w-5 inline-block mr-4', 'Users' %>
              <% end %>
            <%- end -%>
          <%- end -%>
        </nav>
        <footer class="px-6 py-4 text-sm text-gray-500">
          <p>
            Powered by
            <a href="https://github.com/maxfierke/resumis" class="underline">
              Resumis
            </a>
          </p>
        </footer>
      </aside>

      <div class="w-4/5 px-4 px-6 py-4 pb-20">
        <div class="flex">
          <div class="w-full">
            <%= render_alerts %>
            <%= yield %>
          </div>
        </div>

        <div class="flex">
          <% if content_for?(:actionbar_left) || content_for?(:actionbar_right) %>
            <div class="actionbar actionbar-fixed-bottom">
              <div class="actionbar-left">
                <% if content_for?(:actionbar_left) %>
                  <%= yield(:actionbar_left) %>
                <% end %>
              </div>
              <div class="actionbar-right">
                <% if content_for?(:actionbar_right) %>
                  <%= yield(:actionbar_right) %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </body>
</html>
