<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render :partial => 'shared/head' %>
    <title><%= content_for?(:title) ? yield(:title) : "Resumis" %></title>
    <%= stylesheet_link_tag "manage", :media => "all" %>
    <%= javascript_include_tag "manage" %>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="sidebar-toggle" data-toggle="collapse" data-target=".sidebar">
            <span class="sr-only">Toggle Sidebar</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand visible-sm-inline-block visible-md-inline-block visible-lg-inline-block" href="<%= manage_dashboard_path %>">
            Resumis
          </a>
          <% if content_for?(:title) %>
          <p class="navbar-text navbar-title">
            <%= yield(:title) %>
          </p>
          <% end %>
        </div>

        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav navbar-right">

          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>
    <div class="manage-container">
      <aside class="sidebar collapse">
        <nav>
          <ul class="nav nav-tiles nav-stacked">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                <%= image_tag current_user.avatar_url, height: 23, class: 'img-rounded' %>
                <span class="expanded-only">
                  <%= current_user.first_name %> <strong><%= current_user.last_name %></strong>
                </span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li>
                  <%= link_to "#{request.protocol}#{tenant_instance_hostname(current_user)}", target: '_blank' do %>
                    <%= icon 'external-link', 'View Site' %>
                  <% end %>
                </li>
                <li>
                  <%= link_to manage_edit_profile_path do %>
                    <%= icon 'pencil', 'Edit Profile' %>
                  <% end %>
                </li>
                <li>
                  <%= link_to destroy_user_session_url, :method => 'DELETE' do %>
                    <%= icon 'sign-out', 'Logout' %>
                  <% end %>
                </li>
              </ul>
            </li>
            <li>
              <%= link_to manage_dashboard_path do %>
                <%= icon 'dashboard', '', class: 'fa-fw' %>
                <span class="expanded-only">Dashboard</span>
              <% end %>
            </li>
            <li class="dropdown" role="presentation">
              <%= link_to "#", class: 'dropdown-toggle', :'data-toggle' => 'dropdown', role: 'button', :'aria-expanded' => 'false' do %>
                <%= icon 'paragraph', '', class: 'fa-fw' %>
                <span class="expanded-only">Blog</span>
              <% end %>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to manage_posts_path do %>
                    <%= icon 'pencil', '', class: 'fa-fw' %>
                    <span class="expanded-only">Posts</span>
                  <% end %>
                </li>
                <li>
                  <%= link_to manage_post_categories_path do %>
                    <%= icon 'folder', '', class: 'fa-fw' %>
                    <span class="expanded-only">Post Categories</span>
                  <% end %>
                </li>
              </ul>
            </li>
            <li class="dropdown" role="presentation">
              <%= link_to manage_projects_path, class: 'dropdown-toggle', :'data-toggle' => 'dropdown', role: 'button', :'aria-expanded' => 'false' do %>
                <%= icon 'diamond', '', class: 'fa-fw' %>
                <span class="expanded-only">Projects</span>
              <% end %>
              <ul class="dropdown-menu">
                <li><%= link_to "Projects", manage_projects_path %></li>
                <li><%= link_to "Project Categories", manage_project_categories_path %></li>
                <li><%= link_to "Project Statuses", manage_project_statuses_path %></li>
              </ul>
            </li>
            <li>
              <%= link_to manage_resumes_path do %>
                <%= icon 'file-text-o', '', class: 'fa-fw' %>
                <span class="expanded-only">CVs</span>
              <% end %>
            </li>
            <li class="dropdown" role="presentation">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                <%= icon 'road', '', class: 'fa-fw' %>
                <span class="expanded-only">Experiences</span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to manage_education_experiences_path do %>
                    <%= icon 'mortar-board', '', class: 'fa-fw' %>
                    <span class="expanded-only">Education</span>
                  <% end %>
                </li>
                <li>
                  <%= link_to manage_skills_path do %>
                    <%= icon 'wrench', '', class: 'fa-fw' %>
                    <span class="expanded-only">Skills</span>
                  <% end %>
                </li>
                <li>
                  <%= link_to manage_work_experiences_path do %>
                    <%= icon 'suitcase', '', class: 'fa-fw' %>
                    <span class="expanded-only">Work</span>
                  <% end %>
                </li>
              </ul>
            </li>
            <% if current_user.admin? %>
            <li class="dropdown" role="presentation">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                <%= icon 'shield', '', class: 'fa-fw' %>
                <span class="expanded-only">Administration</span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to oauth_applications_url(host: ResumisConfig.canonical_host) do %>
                    <%= icon 'exchange', '', class: 'fa-fw' %> OAuth2 Applications
                  <% end %>
                </li>
                <li>
                  <%= link_to sidekiq_web_url(host: ResumisConfig.canonical_host), target: '_blank' do %>
                    <%= icon 'external-link', '', class: 'fa-fw' %> Sidekiq UI
                  <% end %>
                </li>
              </ul>
            </li>
            <% end %>
          </ul>
        </nav>
        <footer class="text-muted text-center">
          <p class="expanded-only">Powered by
            <a href="https://github.com/maxfierke/resumis">
              Resumis
            </a>
          </p>
          <p class="expanded-only">
            Built with <%= icon 'heart', '', title: 'love' %> by
            <a href="https://www.maxfierke.com">Max Fierke</a>
          </p>
          <a class="collapsed-only" href="https://github.com/maxfierke/resumis">
            <%= icon 'wrench', '', title: 'love' %><br />
            <%= icon 'heart', '', title: 'love' %><br />
            Max
          </a>
        </footer>
      </aside>

      <div class="manage-col-right container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <%= bootstrap_flash %>
            <%= yield %>
          </div>
        </div>
        <% if content_for?(:actionbar_left) || content_for?(:actionbar_right) %>
        <div class="actionbar actionbar-fixed-bottom">
          <% if content_for?(:actionbar_left) %>
          <div class="actionbar-left">
            <%= yield(:actionbar_left) %>
          </div>
          <% end %>
          <% if content_for?(:actionbar_right) %>
          <div class="actionbar-right">
            <%= yield(:actionbar_right) %>
          </div>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
  </body>
</html>
