<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render :partial => 'shared/head' %>

    <%= stylesheet_link_tag "manage", :media => "all" %>
    <%= javascript_include_tag "manage" %>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="<%= manage_dashboard_path %>">
            <%= current_user.first_name %> <strong><%= current_user.last_name %></strong>
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                <%= image_tag current_user.avatar_url, height: 22, class: "inline-block img-rounded" %><span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li class="user-details">
                  <div class="avatar text-center">
                    <%= image_tag current_user.avatar_url, height: 128, class: 'img-circle' %>
                  </div>
                  <h1 class="user-name">
                    <%= current_user.full_name %>
                    <small>
                      <%= link_to "#{request.protocol}#{tenant_instance_hostname(current_user)}", target: '_blank' do %>
                        <%= icon 'external-link', '' %>
                      <% end %>
                    </small>
                  </h1>
                </li>
                <li>
                  <%= link_to manage_edit_profile_path do %>
                    <%= icon 'pencil', 'Edit Profile' %>
                  <% end %>
                </li>
                <li>
                  <%= link_to destroy_user_session_url(host: canonical_host), :method => 'DELETE' do %>
                    <%= icon 'sign-out', 'Logout' %>
                  <% end %>
                </li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>
    <div class="container-fluid">
      <aside class="col-sm-3 col-lg-2 sidebar">
        <nav>
          <ul class="nav nav-tiles nav-stacked">
            <li>
              <%= link_to manage_dashboard_path do %>
                <%= icon 'dashboard', 'Dashboard', class: 'fa-fw' %>
              <% end %>
            </li>
            <li class="dropdown" role="presentation">
              <%= link_to "#", class: 'dropdown-toggle', :'data-toggle' => 'dropdown', role: 'button', :'aria-expanded' => 'false' do %>
                <%= icon 'paragraph', 'Blog', class: 'fa-fw' %>
              <% end %>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to manage_posts_path do %>
                    <%= icon 'pencil', 'Posts', class: 'fa-fw' %>
                  <% end %>
                </li>
                <li>
                  <%= link_to manage_post_categories_path do %>
                    <%= icon 'folder', 'Post Categories', class: 'fa-fw' %>
                  <% end %>
                </li>
              </ul>
            </li>
            <li class="dropdown" role="presentation">
              <%= link_to manage_projects_path, class: 'dropdown-toggle', :'data-toggle' => 'dropdown', role: 'button', :'aria-expanded' => 'false' do %>
                <%= icon 'diamond', 'Projects', class: 'fa-fw' %>
              <% end %>
              <ul class="dropdown-menu">
                <li><%= link_to "Projects", manage_projects_path %></li>
                <li><%= link_to "Project Categories", manage_project_categories_path %></li>
                <li><%= link_to "Project Statuses", manage_project_statuses_path %></li>
              </ul>
            </li>
            <li>
              <%= link_to manage_resumes_path do %>
                <%= icon 'file-text-o', 'Resumes', class: 'fa-fw' %>
              <% end %>
            </li>
            <li class="dropdown" role="presentation">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                <%= icon 'road', 'Experiences', class: 'fa-fw' %>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to manage_education_experiences_path do %>
                    <%= icon 'mortar-board', 'Education', class: 'fa-fw' %>
                  <% end %>
                </li>
                <li>
                  <%= link_to manage_skills_path do %>
                    <%= icon 'wrench', 'Skills', class: 'fa-fw' %>
                  <% end %>
                </li>
                <li>
                  <%= link_to manage_work_experiences_path do %>
                    <%= icon 'suitcase', 'Work', class: 'fa-fw' %>
                  <% end %>
                </li>
              </ul>
            </li>
            <% if current_user.admin? %>
            <li class="dropdown" role="presentation">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                <%= icon 'shield', 'Administration', class: 'fa-fw' %>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to sidekiq_web_url(subdomain: ''), target: '_blank' do %>
                    <%= icon 'external-link' %> Sidekiq UI
                  <% end %>
                </li>
              </ul>
            </li>
            <% end %>
          </ul>
        </nav>
        <footer class="text-muted">
          <p>Powered by
            <a href="https://github.com/maxfierke/resumis">
              Resumis
            </a>
          </p>
          <p>
            Built with <%= icon 'heart', '', title: 'love' %> by
            <a href="https://www.maxfierke.com">Max Fierke</a>
          </p>
        </footer>
      </aside>

      <div class="col-sm-9 col-sm-push-3 col-lg-10 col-lg-push-2">
        <%= bootstrap_flash %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
