<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render :partial => 'shared/head' %>

    <%= stylesheet_link_tag "manage", :media => "all" %>
    <%= javascript_include_tag "manage" %>
  </head>
  <body>
    <div class="container-fluid">
      <aside class="col-sm-3 sidebar">
        <div class="user-details">
          <div class="avatar text-center">
            <%= image_tag current_user.avatar_url, height: 128, class: 'img-circle' %>
          </div>
          <h1 class="user-name">
            <%= current_user.full_name %>
          </h1>
          <%= link_to manage_edit_profile_path, class: 'btn btn-default' do %>
            <%= icon 'pencil', 'Edit Profile' %>
          <% end %>
        </div>
        <nav>
          <ul class="nav nav-tiles nav-stacked">
            <li class="dropdown" role="presentation">
              <%= link_to manage_projects_path, class: 'dropdown-toggle', :'data-toggle' => 'dropdown', role: 'button', :'aria-expanded' => 'false' do %>
                Projects <span class="caret"></span>
              <% end %>
              <ul class="dropdown-menu">
                <li><%= link_to "Projects", manage_projects_path %></li>
                <li><%= link_to "Project Categories", manage_project_categories_path %></li>
                <li><%= link_to "Project Statuses", manage_project_statuses_path %></li>
              </ul>
            </li>
            <li><%= link_to "Resumes", manage_resumes_path %></li>
            <li class="dropdown" role="presentation">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                Experiences <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Education Experiences", manage_education_experiences_path %></li>
                <li><%= link_to "Work Experiences", manage_work_experiences_path %></li>
              </ul>
            </li>
            <% if current_user.admin? %>
            <li class="dropdown" role="presentation">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                Administration <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to sidekiq_web_url(subdomain: ''), target: '_blank' do %>
                    <%= icon 'external-link' %> Sidekiq UI
                  <% end %>
                </li>
              </ul>
            </li>
            <% end %>
          </ul>
        </nav>
        <footer class="text-muted">
          <p>Powered by
            <a href="https://github.com/maxfierke/resumis">
              Resumis
            </a>
          </p>
          <p>
            Built with <%= icon 'heart', '', title: 'love' %> by
            <a href="https://www.maxfierke.com">Max Fierke</a>
          </p>
        </footer>
      </aside>

      <div class="col-lg-8 col-sm-9 col-sm-push-3">
        <%= bootstrap_flash %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
