<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render :partial => 'shared/head' %>
    <title><%= content_for?(:title) ? yield(:title) : "" %></title>
    <%= stylesheet_link_tag "cv_screen", :media => "all" %>
    <%= javascript_include_tag "cv_screen" %>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
